* {
  .header {
    position: fixed;
    z-index: 9999;
    top: 0;
    ul {
      display: flex;
      flex-direction: row;
      padding: 15px;
      font-size: 20px;
      font-weight: 800;
      list-style: none;
      cursor: pointer;
      .nav_li {
        margin: 20px;
      }
      .sub_li {
        margin: 20px;

        &:hover {
          li {
            a {
              display: block;
            }
          }
        }

        .sub_kanji {
          display: flex;
          position: absolute;
          width: 100%;
          left: 10%;
          flex-direction: column;
          background-color: rgba(24, 120, 204, 0.363);
          border-radius: 1%;
          a {
            display: none;
            position: relative;
            padding: 15px;
            font-size: 20px;
            font-weight: 800;
            margin: 5px 0;
            color: black;
            z-index: 99;
            &:hover {
              background-color: rgba(240, 248, 255, 0.233);
            }
          }
        }
      }
    }
  }
}
