.left-bar{
    
.siderbar-logo {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    background-color: #3c4f6300;
    color: #7079f5;
    font-size: 24px;
  }
  .text-group{
    color: #999191b9;
  }
}